.hide-me {
    display: none;
}

.brand-title {
    color: rgb(255, 0, 64);
    text-align: center;
}

.logo {
    margin: 0 auto;
    width: 70%;
    display: block;
}

.recommended {
    border-style: solid; 
    border-width: thin; 
    border-color: #010101;
    position: relative;
}

.recommended-tag {
    position: absolute;
    border-style: solid; 
    border-width: thin; 
    border-color: #000000;
    background-color:  #000000;
    border-radius: 3px 3px 0 0;
    top: -22px;
    right: 10px;
    font-size: 10px;
    text-transform: uppercase;
    color:#ffffff;
    padding: 2px 4px;
}

.btn {
    border-style: solid;  
    background-color: #000000;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center; 
    font-size: 14px; 
}

.btn.primary {
    border-style: solid;  
    background-color: #28c550;
    color: #f0f8f7;
    padding: 6px 50px;
    text-align: center; 
    font-size: 16px; 
}



.btn.edit {
    border-style: solid;  
    background-color: #f7d749;
    color: #fc6c29;
    padding: 6px 15px;
    text-align: center; 
    font-size: 16px;

}

.btn.delete {
    border-style: solid;  
    background-color: #ec0000;
    color: #ffffff;
    padding: 6px 15px;
    text-align: center; 
    font-size: 16px;

}
 
.btn.delete.back {
    border-style: solid;  
    background-color: #888b8d;
    color: #000000;
    padding: 6px 15px;
    text-align: center; 
    font-size: 16px;

}

.vrp {
    background-color: #dadada;
    color: #1c2640;
    padding: 20px 20px;
}

.balance {
    background-color: #000000;
    color: #ffffff;
    padding: 55px 32px;
}

.form-label {
    color:#1c2640;
}

.form-check-label {
    color:#1c2640;
}

.alert-info {
    font-size: 11px;
    background-color: #ffffff;
}

.alert-info.confirmation {
    font-size: 16px;

}

.confirmation-amount {
    font-size: 24px; 
}

.disabled {
    color:#acacac;
    font-size: 10px;
}

.alert-success {
    font-size: 20px;

}

.yourbalance {
    font-size: 16px;
}

.accordion-button {
    border-style: solid;  
    background-color: #000000;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center; 
    font-size: 16px; 
}


.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #000000;
}


