.hide-me {
    display: none;
}

.brand-title {
    color:  #3a913f;
    text-align: center;
}

.logo {
    margin: 0 auto;
    width: 100%;
   
}

.how {
  font-size: 20px;
  color: #888b8d;  
  font-family: 'Courier New', Courier, monospace;
  padding: 4px 4px 4px 4px;
  text-align: center;
}

.recommended {
    border-style: solid; 
    border-width: thin; 
    border-color: #3a913f;
    position: relative;
}

.choice {
    border-style: solid; 
    border-width: thin; 
    border-color: #c5c8c5a4;
    background-color: #c5c8c5a4;
    position: relative;
}

.recommended-tag {
    position: absolute;
    border-style: solid; 
    border-width: thin; 
    border-color: #3a913f;
    background-color:  #3a913f;
    border-radius: 3px 3px 0 0;
    top: -22px;
    right: 10px;
    font-size: 10px;
    text-transform: uppercase;
    color:#ffffff;
    padding: 2px 4px;
}

.btn {
    border-style: solid;  
    background-color: #3a913f;
    color: #ffff;
    padding: 15px 32px;
    text-align: center; 
    font-size: 14px; 
    border-radius: 30px;
}

.btn-secondary {
        border-style: solid; 
        border-color:#3a913f; ; 
        background-color: #3a913f;
        color: #ffffff;
        padding: 6px 25px;
        border-radius: 30px;
        text-align: center; 
        font-size: 16px; 
    }


.btn.primary {
    border-style: solid;  
    background-color: #28c54f84;
    color: #ffffff;
    padding: 6px 50px;
    text-align: center; 
    font-size: 16px; 
}



.btn.edit {
    border-style: solid;  
    background-color: #f7d749;
    color: #fc6c29;
    padding: 6px 15px;
    text-align: center; 
    font-size: 16px;

}

.btn.delete {
    border-style: solid;  
    background-color: #ec0000;
    color: #ffffff;
    padding: 6px 15px;
    text-align: center; 
    font-size: 16px;

}
 
.btn.delete.back {
    border-style: solid;  
    background-color: #888b8d;
    color: #050505;
    padding: 6px 15px;
    text-align: center; 
    font-size: 16px;

}

.vrp {
    background-color: #dadada;
    color: #000;
    padding: 20px 20px;
}

.balance {
    background-color: #3a913f;
    color: #ffff;
    padding: 40px 32px;
}

.form-label {
    color:#000;
}

.form-check-label {
    color:#000;
}

.alert-info {
    font-size: 11px;
    background-color: #d8d8d8;
}

.alert-info.confirmation {
    font-size: 16px;

}

.confirmation-amount {
    font-size: 24px; 
}

.disabled {
    color:#acacac;
    font-size: 10px;
}

.alert-success {
    font-size: 20px;

}

.yourbalance {
    font-size: 16px;
}

.accordion-button {
    border-style: solid;  
    background-color: #000;
    color: #0000;
    padding: 15px 32px;
    text-align: center; 
    font-size: 16px; 
}


.accordion-button:not(.collapsed) {
    color: #d50032;
    background-color: #000;
}


